# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# OS metadata
.DS_Store
Thumbs.db

# Flask database instance & caches
instance/
.webassets-cache

# Environments
.venv/
venv/
env/
ENV/

# IDEs
.idea/
.vscode/
